<% if foodhistory.can_access?(current_user) %>
  <tr>
    <td><%= foodhistory.name %></td>
    <td><%= foodhistory.user.name %></td>
    <td><%= foodhistory.mode_i18n %></td>
    <td><%= foodhistory.calorie %></td>
    <td><%= foodhistory.protein %></td>
    <td><%= foodhistory.fat %></td>
    <td><%= foodhistory.carbo %></td>
    <td><%= foodhistory.image_name %></td>
    <td><%= link_to 'Show', foodhistory %></td>
    <td><%= render 'like-unlike', foodhistory: foodhistory %></td>
    <!--
    FIXME:
    _like-unlike.html.erbが、
    collectionの数だけ呼ばれてしまい、
    実行速度低下の要因になる。

    この状態から更にrender(like-unlike)を呼びたいが、
    この時点ではfoodhistoryはコレクションではなくなっているため、
    3.4.5 コレクションをレンダリングする手法は使えない(?)
    https://railsguides.jp/layouts_and_rendering.html#パーシャルを使用する
    -->
    <td><%= link_to 'Reuse', new_foodhistory_path(reuse_record_id: foodhistory.id) %></td>
    <% if foodhistory.can_edit?(current_user) %>
      <td><%= link_to 'Edit', edit_foodhistory_path(foodhistory) %></td>
      <td><%= link_to 'Destroy', foodhistory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>