<%= form_with(model: foodhistory, local: true) do |form| %>
  <% if foodhistory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foodhistory.errors.count, "error") %> prohibited this foodhistory from being saved:</h2>

      <ul>
      <% foodhistory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :mode %><br>
    <%= form.select :mode, Foodhistory.modes_i18n.invert %>
  </div>

  <div class="field">
    <%= form.label :calorie %>
    <%= form.number_field :calorie %>
  </div>

  <div class="field">
    <%= form.label :protein %>
    <%= form.number_field :protein %>
  </div>

  <div class="field">
    <%= form.label :fat %>
    <%= form.number_field :fat %>
  </div>

  <div class="field">
    <%= form.label :carbo %>
    <%= form.number_field :carbo %>
  </div>

  <%= form.fields_for :foodhistory_images do |i| %>
    <%= i.label :avatar, style: 'padding-top: 30px;' %>
    <%= i.hidden_field :avatar_cache %><!-- for redisplay on validation error -->
    <% if i.object&.avatar.present? %>
      <%= image_tag i.object.avatar.url, width: '200'  %>
      delete<%= i.check_box :_destroy %>
    <% end %>
    <br>
    <%= i.file_field :avatar %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
