<p id="notice"><%= notice %></p>

<h1>Foodhistories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Calorie</th>
      <th>Protein</th>
      <th>Fat</th>
      <th>Carbo</th>
      <th>Image name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foodhistories.each do |foodhistory| %>
      <tr>
        <td><%= foodhistory.name %></td>
        <td><%= foodhistory.user_id %></td>
        <td><%= foodhistory.calorie %></td>
        <td><%= foodhistory.protein %></td>
        <td><%= foodhistory.fat %></td>
        <td><%= foodhistory.carbo %></td>
        <td><%= foodhistory.image_name %></td>
        <td><%= link_to 'Show', foodhistory %></td>
        <td><%= link_to 'Edit', edit_foodhistory_path(foodhistory) %></td>
        <td><%= link_to 'Destroy', foodhistory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foodhistory', new_foodhistory_path %>
