<p id="notice"><%= notice %></p>

<h1>Foodhistories</h1>

<%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.label :calorie_lt %>
  <%= f.search_field :calorie_lt %>

  <%= f.label :user_name_cont %>
  <%= f.search_field :user_name_cont %>

 <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>View Range Stat</th>
      <th>Calorie</th>
      <th>Protein</th>
      <th>Fat</th>
      <th>Carbo</th>
      <th>Image name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foodhistories.each do |foodhistory| %>
      <tr>
        <% if foodhistory.can_access?(current_user) %>
          <td><%= foodhistory.name %></td>
          <td><%= foodhistory.user.name %></td>
          <td><%= foodhistory.mode_i18n %></td>
          <td><%= foodhistory.calorie %></td>
          <td><%= foodhistory.protein %></td>
          <td><%= foodhistory.fat %></td>
          <td><%= foodhistory.carbo %></td>
          <td><%= foodhistory.image_name %></td>
          <td><%= link_to 'Show', foodhistory %></td>
        <% end %>
        <% if foodhistory.can_edit?(current_user) %>
          <td><%= link_to 'Edit', edit_foodhistory_path(foodhistory) %></td>
          <td><%= link_to 'Reuse', new_foodhistory_path(reuse_record_id: foodhistory.id) %></td>
          <td><%= link_to 'Destroy', foodhistory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foodhistory', new_foodhistory_path %>
