<p id="notice"><%= notice %></p>

<h1>Foodhistories</h1>

<%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.label :calorie_lt %>
  <%= f.search_field :calorie_lt %>

  <%= f.label :user_name_cont %>
  <%= f.search_field :user_name_cont %>

 <%= f.submit %>
<% end %>

<%= render 'shared/show_foodhistories', foodhistories: @foodhistories %>

<br>

<%= link_to 'New Foodhistory', new_foodhistory_path %>
