<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @foodhistory.name %>
</p>

<p>
  <strong>Calorie:</strong>
  <%= @foodhistory.calorie %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @foodhistory.protein %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @foodhistory.fat %>
</p>

<p>
  <strong>Carbo:</strong>
  <%= @foodhistory.carbo %>
</p>

<p>
  <strong>Image name:</strong>
  <br>
  <% @foodhistory.foodhistory_images.each do |foodhistory_image| %>
    <%= image_tag foodhistory_image.avatar.url, width: '200' %>
    <br>
  <% end %>
</p>

<%= link_to 'Back', foodhistories_path %>
