<p id="notice"><%= notice %></p>

<h2>ユーザ情報</h2>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @user.image_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= render 'shared/show_target_userfeature', userfeature: @user.primary_userfeature %>
<%= render 'shared/foodhistory_per_day', user: @user, day_transition: @day_transition %>