<%= form_with(model: userfeature, local: true) do |form| %>
  <% if userfeature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userfeature.errors.count, "error") %> prohibited this userfeature from being saved:</h2>

      <ul>
      <% userfeature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :activity %>
    <%= form.number_field :activity %>
  </div>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.number_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :total_calorie %>
    <%= form.number_field :total_calorie %>
  </div>

  <div class="field">
    <%= form.label :protein %>
    <%= form.number_field :protein %>
  </div>

  <div class="field">
    <%= form.label :fat %>
    <%= form.number_field :fat %>
  </div>

  <div class="field">
    <%= form.label :carbo %>
    <%= form.number_field :carbo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
