<%= form_with(model: userfeature, local: true) do |form| %>
  <% if userfeature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userfeature.errors.count, "error") %> prohibited this userfeature from being saved:</h2>

      <ul>
      <% userfeature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gender %><br>
    <%= form.select :gender, [['男性','male'], ['女性','female'], ['その他','not_applicable'], ['無回答','not_known']], class: 'form-control' %><br>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :activity%><br>
    <%= form.select :activity, [['高い','high'], ['普通','middle'], ['低い','low']], class: 'form-control' %><br>
  </div>

Activityの目安
<ul>
<li>activity = 低い：座り仕事が多い</li>
<li>activity = 普通：立ち仕事や重労働が多い</li>
<li>activity = 低い：立ち仕事や重労働が多い＆運動もしている</li>
</ul>

  <div class="field">
    <%= form.label :purpose%><br>
    <%= form.select :purpose, [['増量','increase'], ['維持','maintain'], ['減量','loss']], class: 'form-control' %><br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
