<%= form_with(model: current_user, local: true, url: userfeatures_path, method: :post) do |form| %>
  <% if userfeature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userfeature.errors.count, "error") %> prohibited this userfeature from being saved:</h2>

      <ul>
      <% userfeature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, User.genders_i18n.invert %>
  </div>

  <%= form.fields_for :userfeatures, userfeature do |userfeature_f| %>
    <div class="field">
      <%= userfeature_f.label :height %>
      <%= userfeature_f.number_field :height %>
    </div>

    <div class="field">
      <%= userfeature_f.label :weight %>
      <%= userfeature_f.number_field :weight %>
    </div>

    <div class="field">
      <%= userfeature_f.label :age %>
      <%= userfeature_f.number_field :age %>
    </div>

    <div class="field">
      <%= userfeature_f.label :activity%><br>
      <%= userfeature_f.select :activity, Userfeature.activities_i18n.invert %>
    </div>

    Activityの目安
    <ul>
    <li>activity = 低い：座り仕事が多い</li>
    <li>activity = 普通：立ち仕事や重労働が多い</li>
    <li>activity = 低い：立ち仕事や重労働が多い＆運動もしている</li>
    </ul>

    <div class="field">
      <%= userfeature_f.label :purpose%><br>
      <%= userfeature_f.select :purpose, Userfeature.purposes_i18n.invert %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
