<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @userfeature.user_id %>
</p>

<p>
  <strong>Height:</strong>
  <%= @userfeature.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @userfeature.weight %>
</p>

<p>
  <strong>Age:</strong>
  <%= @userfeature.age %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @userfeature.activity %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @userfeature.purpose %>
</p>

<p>
  <strong>Total calorie:</strong>
  <%= @userfeature.total_calorie %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @userfeature.protein %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @userfeature.fat %>
</p>

<p>
  <strong>Carbo:</strong>
  <%= @userfeature.carbo %>
</p>

<%= link_to 'Edit', edit_userfeature_form_path(@userfeature) %> |
<%= link_to 'Back', userfeatures_path %>
